@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary-background: #342b19;
  --color-primary-foreground: #ffffff;

  --color-products-background: #dcf0ed;
  --color-products-foreground: #000;

  --color-bizlere-ulasin-background: #181610;
  --color-bizlere-ulasin-foreground: #ffffff;

  --color-footer-background: #342b19;
  --color-footer-foreground: #ffffff;

  --radius-rounded: 64px;
  --font-family-serif: var(--font-roboto-serif);
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  font-family: var(--font-family-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-serif);
  line-height: 1.1;
  letter-spacing: -0.03em;
}

p,
span,
a,
li {
  font-family: var(--font-roboto-serif);
  line-height: 2rem;
}

@keyframes marquee-left {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.marquee-pause:hover {
  animation-play-state: paused !important;
}

@layer utilities {
  .marquee-smooth {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

/* Slider scrollbar gizleme */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
